.header {
  display: flex;
  justify-content: space-between;
  align-items: center;


  &-panel {
    background: rgb(13,97,174);
    background: linear-gradient(90deg, rgba(13,97,174,1) 0%, rgba(16,86,169,1) 37%, rgba(10,112,182,1) 100%);
    width: 75%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 20px 0 30px 20px;
    display: flex;
    align-items: center;

    &__input-name, &__city-select {
      border: none;
      border-bottom: 1px solid #87abd4;
      background-color: transparent;
      padding: 5px 0;
      font-size: 16px;
      color: #ffffff;
      font-weight: 400;
      font-family: 'Open Sans', sans-serif;
      width: 175px;
      margin-right: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &::placeholder {
        color: white;
      }

      &:focus, &:hover {
        outline: none;
        border-bottom-color: #ffffff;
      }
    }

    &__city-selection-wrapper {
      position: relative;

      .cities-selection-wrapper {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 180px;
        transform: translateY(100%);
        background-color: white;
        z-index: 100;
        box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.51);

        .city-selection-item {
          text-align: left;
          font-size: 16px;
          line-height: 29px;
          color: #4f4d43;
          font-weight: 400;
          font-family: "Open Sans", sans-serif;
          padding: 5px;
          border-bottom: 1px solid #ecf0f2;
          cursor: pointer;

          &:hover {
            background-color: #d8e1e5;
          }
        }
      }
    }

    &__city-select {
      cursor: pointer;
      position: relative;

      .icon-down {
        padding-bottom: 2px;
        font-size: 20px;
      }

    }

    &__filter-button {
      margin-left: 20px;
      width: 106px;
      height: 35px;
      border-radius: 18px;
      background-color: #4eb7be;
      font-size: 14px;
      color: #ffffff;
      font-weight: 400;
      font-family: "Open Sans", sans-serif;
      border: none;
      cursor: pointer;
    }


  }

  h1 {
    color: white;
    font-size: 23px;
    line-height: 25px;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    width: 25%;
    text-align: center;
  }
}