@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap');

//import components styles
@import "./components/layout";
@import "./components/header";
@import "./components/contacts-list";
@import "./components/contact-preview";
@import "./components/custom-checkbox";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}